= form_for @problem, :html => { :class => 'form-horizontal' } do |f|
  = render 'shared/form_errors', object: @problem

  .control-group
    = label :name, :name, :class => 'control-label'
    .controls
      = text_field_tag :name, "", :class => 'text_field'
  .control-group
    = label :start_time, :start_time, :class => 'control-label'
    .controls
      = datetime_local_field_tag :start_time, :class => 'datetime_field'
  .control-group
    = label :end_time, :end_time, :class => 'control-label'
    .controls
      = datetime_local_field_tag :end_time, :class => 'datetime_field'
  .form-actions
    = submit_tag nil, :class => 'btn btn-primary', data: { confirm: "Are you sure?" }
    = link_to t('.cancel', :default => t("helpers.links.cancel")), problems_path, :class => 'btn'
